*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
 }

.wrapper{
    width: 100%;
    height: auto;
    text-align: center;
}
  


 .section_1{
    color: #ffffff;
    display: block;
     width: 100%;
     height: auto;
     position: relative;
 }

 picture>img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;

 } 

 .heder{
    padding-top: 4.07%;
    width: 100%;
    height: auto;
    position: relative;
}

.login{
    margin-bottom: 22.04%;
}



a{
    text-decoration: none;
    color: #ffffff;
}


.border{
    border-radius: 30px;
    padding: 2% 4%;
    display: inline-block;
    font-size: 14px;

}

.border:hover{
    border: 2px solid #ffffff;
   
}



 .logo{
     text-transform: uppercase;
     font-size: 20px;
     margin-bottom: 6.85%;

 }

 h1{
     text-transform: uppercase;
     font-weight: bold;
    margin-bottom: 10.07%;
 }

 .title{
     padding-bottom: 25.74%; 
 }
 
 .title>p{
     margin-bottom: 10.07%;
 }

 p{
    font-family: 'Roboto', sans-serif;
}

.title>p{
    font-size: 24px;
 }

 .button_1{
     font-size:14px;
     font-weight: bold;
     cursor: pointer;

 }

 

 .button_1>span{
     background: #ff4e50;
     padding: 10px 40px;
     border-radius: 20px;  

 }

 h3{
     max-width: 75%;
     padding-top: 5.7%;
     font-size: 18px;
     margin: auto;
 }

 .blok{
     padding-top: 1.7%;
     position: relative;
 }
 h4{
     padding-top: 1.7%;
     margin-bottom: 1.9%;
 }

 .blok>p{
    font-size: 14px;
    color: #b8b8b8;
}

.icon>img{
    position: absolute;
    top: 45%;
}



.bloks, .footer{
    margin-bottom: 4.59%;
}


.button_2>span{
    background: #ffffff;
    color: #ff4e50;
    padding: 5px 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}

@media (min-width:768px){
    .heder{
        width: 88.50%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    h1{
        font-size: 52px;
        margin: auto;
        width: 75%;
        margin-bottom: 10%;

    }

    .login{
      width: 19.78%;
    }

    .bloks{
        width: 80%;
        height:492px;
        display: flex;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .blok{
        width: 40.11%;
        height: 32.89%;
        margin-bottom: 5%;
    }

    .blok>p{
        font-size: 14px;
    }

    .icon>img{
        top: 50%;
    }
}

@media (min-width:1200px){
    .heder{
        width: 65%;
    }
    .bloks{
        width: 80%;
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .icon>img{
        right: 30%;
    }

    h4{
        padding-top: 5%;
    }

   


}


 
