
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body{
  font-family: "Open Sans", sans-serif;
  color:#515151;}

.wrapper{
   width: 100%;
  margin:0 auto;} 

.box{ 
  display:block;
   padding-top: 35px;
  font-size:30px;
  margin-left:245px;
   float: left;}

.text::first-letter{
  color:#1abc9c;
  font-weight:bolder;}

.heder {
  text-align: right;
  font-size: 14px;
  padding-top:40px;
  margin-bottom:38px;
width:95%;}

ul>li{
  display: inline-block;}

.test1 {
  margin-right: 33px;}
.test2 {
  margin-right: 37px;}
.test3 {
  margin-right: 31px;}
.test4 {
  margin-right: 28px;}
.test5 {
  margin-right: 33px;}

li:nth-last-child(1){
	margin-right:0;}

a {
  color:#0f0101;
  font-weight:bolder;
  text-decoration:none;}

a:hover{
  color: #1abc9c;}

.section_1{
  display:block;}

.fond_1>img {
  width:100%;
  height:100%;
  object-fit:cover;
}
.fond_1 {
  display:block;
  position: relative;
  top:0px;
  height: 600px;
  z-index: 1;}

.fond_2 {
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
  position: absolute;
  top: 93px;
  width: 100%; 
  height: 600px;
  z-index: 2;}

.title_1{
  color:#fff;
  width: 100%;
  text-align: center;
 text-transform: uppercase;
  line-height: 1.5;
  position:absolute;
  top: 300px;
  z-index:3;}

h1{
  font-size:50px;}

  .fond_3{
    display: block;
    position: absolute;
    top: 300px;
    left: 150px;
    z-index:78;}

  .fond_3>img{
    width: 95%;
  }
  .title_2{
    text-align: center;
  }

  h2{
    position:relative;
    display: block;
    font-size:40px;
    text-transform: uppercase;
    padding-top:96px;
    padding-bottom:31px;
    margin-bottom:85px;}


h2::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 6px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background:#1abc9c;}



.section_2{
  display: inline-block;
  height:675px;
  background:#e9f0fd;
  width: 100%;
  z-index: -1;
}

.gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin:0 auto;
}

  .gallery_item{
    position: relative;
    height:285px;
    width: 255px;
    cursor: pointer;
    margin-right: 20px;
  z-index: 1;}



.gallery_item>img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
z-index: 2;}

.object{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 235px;
height: 265px;
margin: 10px;
position: absolute;
opacity: 0;
background: rgba(0, 0, 0, 0.4);
transition: opacity 0.2s ease-in;
z-index: 3;}

.gallery_item:hover .object{
  opacity: 1;
}

.price{
  position: absolute;
  bottom: -42px;
  background:#323232;}

title_2,.price>p{ 
  padding: 12px;
  display: inline-block;
  width: 201px;
  height: 42px;
  color: #ffffff;}

span{
  float: right;
  display: block;
  width: 54px;
  height: 42px;
  padding: 12px;
  color: #ffffff;
  background: #8c8c8c;}

  .gallery_item:hover .price {
    background:#1abc9c;}

  .gallery_item:hover span{
    background:#7fd9c7;}

   .icons{
     display: flex;
     justify-content: space-between;
     width: 170px;
   } 

.icon{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  padding:0px;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: transparent;
transition: background-color 0.2s case-in;
}

.icons>.icon:hover{
  background:#1abc9c;}

.icons_2{
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #fff;
  background-color: transparent;
  width: 170px;
  height: 50px;
  cursor: pointer;
position: relative;}

.icons_2>p{
  color: #ffffff;
  padding-top: 19px;
}

.icons_2>.icon{
  border: none;
  margin: 0px;
  position: absolute;
  bottom: 0px;

}

.icons_2:hover{
  background:#515151;}

.cart{
  display:block;
  font-size:12px;
  margin: 0px auto;
  width:110px;
  height:50px; 
  bottom: 0px;
  top: 0px;
  right: 0px;
  position:absolute;
  z-index:101;}

.footer{
      height: 90px;
      text-align:center;
      padding-top: 37px;
      background:#323232;
    }
  
adress{
    vertical-align: middle;
     font-size:16px;
    color:#ffffff;}
  