* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body{
  font-family: "Open Sans", sans-serif;
  color:#515151;}

.wrapper{
   width:1800px;
  margin:0 auto;} 

.box{ 
  display:block;
   padding-top: 35px;
  font-size:30px;
  margin-left:245px;
   float: left;}

.text::first-letter{
  color:#1abc9c;
  font-weight:bolder;}

.heder {
  text-align: right;
  font-size: 14px;
  padding-top:40px;
  margin-bottom:38px;
width:1110px;}

ul>li{
  display: inline-block;}

.test1 {
  margin-right: 33px;}
.test2 {
  margin-right: 37px;}
.test3 {
  margin-right: 31px;}
.test4 {
  margin-right: 28px;}
.test5 {
  margin-right: 33px;}

li:nth-last-child(1){
	margin-right:0;}

a {
  color:#0f0101;
  font-weight:bolder;
  text-decoration:none;}

a:hover{
  color: #1abc9c;}

.section_1{
  display:inline-block;}

.fond_1 {
  display:block;
  position: relative;
  width: 1800px;
  height: 600px;
  z-index: 1;}

.fond_2 {
  display:blok;
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
  position: absolute;
  top: 93px;
  width:1800px ;
  height: 600px;
  z-index: 2;}

.title_1{
  color:#ffffff;
 text-transform: uppercase;
  line-height: 1.5;
  position:absolute;
  left: 427.937px;
  top: 300px;
  width: 738px;
  height: 98px;
  z-index:3;}

h1{
  font-size:50px;}

  .fond_3{
    display: block;
    position: absolute;
    left: 245px;
    top: 316px;
    width:1110px;
    height:109px;
    z-index:78;
  }

h2{
  position:relative;
  display:inline-block;
  font-size:40px;
  text-transform: uppercase;
  padding-top:96px;
  padding-bottom:31px;
  margin-bottom:85px;}

h2::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 6px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background:#1abc9c;}
.title_2{
  text-align:center;
background:#e9f0fd;}

.section_2{
  display:inline-block;
  width:1800px;
  height:675px;
  }

.gallery{
  display:inline-block;
  text-align:center;  
 margin:0 auto;
  width: 1800px;
padding-bottom:100px;
background:#e9f0fd;}

.gallery_item{
  display: inline-block;
  vertical-align: top;
  height:285px;
  width: 255px;
  margin: 10px 15px;
  cursor: pointer;}

.img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 280px;
object-fit: cover;}

.object{
position: absolute;
width: 255px;
height: 280px;
z-index: 90;
left: 335px;
top: 966px;
}

.prace{
  color:#ffffff;
  background:#323232;}

p{ 
  padding: 10px;
  margin: 0;
  display: inline-block;}

span{
  float: right;
  display: block;
  padding: 10px;
  background: #8c8c8c;}

  .gallery__item:hover .price{
    background:#1abc9c;}
    .footer{
      width: 1800px;
      height: 90px;
      display:inline-block;
      text-align:center;
      background:#323232;}
  
  .adress{
    padding-top:40px;
     font-size:16px;
    color:#ffffff;}
  