

.menu__item{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.menu__link--header{
    font-size: 14px;
    position: relative;
}
.menu__link--header:hover{
    color: #fce38a;
}



.menu__link--header:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #fce38a;
    left: 0px;
    top: 20px;
    width: 60px;
    transition-property: width;
    transition-duration: .200ms;
    transition-timing-function: ease-in-out;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;    
}

.icon:hover{
    color: #fce38a;
}

      

    
      
      
      


