* {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
}

body{
  font-family: 'Playfair Display', serif;
  }
.wrapper{
  margin-left: auto;
  margin-right:auto;
 } 


.heder {
  text-align: center;
  font-size: 19px;
  padding-top:72px;
  padding-bottom:108px;
}

ul>li{
  display: inline-block;
}



.test1 {
  margin-right: 117px;
}
.test2 {
  margin-right: 102px;
}
.test3 {
  margin-right: 92px;
}
li:nth-last-child(1){
	margin-right:0;
}

a{
  text-transform: uppercase;
color: #989898;
}
a:hover{
  color: #68cbf8;}


main{
  max-width: 960px;
  column-count: 2;
  column-gap: 60px;
  margin-right: auto;
  margin-left:auto;
}
article{
  margin-bottom:137px;}

img{
  margin-bottom:105px;
}

p{
  width: 422px;
  font-size: 13px;
  text-align: justify;
  color: #989898;
   }
p:nth-last-child(1){
	margin:0;
}

h2{
  font-size: 26px;
  color: #989898;
 margin-top: 0px;
}



.footer {
  text-align: center;
 height: 186px;
  margin-left: auto; 
  margin-right: auto; 
}

a {
  
  text-transform: none;
   color:#989898;
  text-decoration:none;}
span{
    display: inline-block;
    padding: 20px;
    border: 2px solid #989898;

}   


