
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: «Montserrat», sans-serif; 
    color: #333333;
}

.wrapper{
    width: 100%;
    height: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

.logo__elem{
    font-size: 30px;
}



.conteiner__backgraund{
    display: block;
    width: 100%;
    height: auto;
    color: #fff;
    z-index: 1;
position: relative;
}

.backgraund{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -4;
}

.header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 30px;
}


ul, h1{
    text-transform: uppercase;
}



.text{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
   text-align: center;
    margin-bottom: 60px;
}


.footer{
    display: flex;
     flex-direction: row;
    justify-content: space-between; 
    position: relative;
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.address{
    width:312px;
    height: 14px;
}




.address>a{
  color:#323232;
  text-decoration:none;
}

.address>a:hover{
   color:#f38181;
  cursor:pointer;}








