
.article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.item{
    width: 400px;
    height: 125px;
}

.item__title{
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 94px;
}


.item__text{
    font-size: 15px;
    padding-left: 94px;}


    .item__icon {
        display: inline-block;
        width: 2em;
        height: 2em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        color:#95e1d3;
      }



.icon-container{
    padding-left: 30px;
    display: block;
    position: absolute;
   
  
}

