.button{
    display:block;
    width:330px;
    height:40px;
       
}


.button--header{
    padding-top: 100px;
    padding-bottom: 229px;
    position: relative;
    margin: 0 auto;
}

.button>a:hover{
    cursor:pointer;
  }

.button__elem{
    width: 200px;
    margin:0 auto;
    padding: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
}

.button--footer{
    right:0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    
}

    
.button__elem--footer{
    
    width: 150px;
    height: 40px;
    background: #95e1d3;
    text-decoration: none;
    padding:10px;
    color: #fff;
    text-align:center;
    border: none;
}
  
input{
    text-indent:5px;
    width:150px;
    height: 40px;
  }

    
    