.cards{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 4rem;
}


.card{
    text-align: center;
    width: 22rem;
    height: 30rem;
}

.card>h4{
    padding-top: 30px;
}

.card>p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;}

.card-fond{
    display: block;
    margin: 0;
    background: #95e1d3;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 19;}


.card-fond>img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 30;}

.card-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f1918c, #e6cf82);
    opacity: .0;
    z-index: 100;}

.card-fond:hover .card-gradient{
    opacity: .8;
    cursor: pointer;}

.card-fond:hover.card-fond>img, .card-gradient{
    transform: translate(-10px,-10px);
    transition-duration: 200ms;
}




.icons-row{
    display: none;
   
}


.card-fond:hover .icons-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 110;
    
}



  

.icon-container-card{
    width: 3.5em;
    height: 3.5em;
    background:#fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.02em solid #f38181;
    cursor: pointer;
}

.icon--card{
    color: #f38181;
    width: 1.5em;
    height: 1.5em;
}

.icon-container-card:hover{
    background: #f38181;
}


.icon-container-card:hover .icon--card{
    color: #fff;
    
}




.cards::after{
    content: '';
    position: absolute;
    background-color: #b3b3b3;
    height: 2px;
    width: 100%;
    top: 600px;
 
}